{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block body %}<!-- todo: remove dest/orig defaults vals -->

    <h1>New Search</h1><br>
    <form action="{{ url_for('search') }}" method="post">
        <p>Date:<br>
            <input type="date" name="departure_date" value="{{ today }}"></p>
        <p>From:<br>
            <input type="text" name="origin" autofocus></p>
        <p>To:<br>
            <input type="text" name="destination"></p>
        <br>
        <p>Only show results with exact dates
            <input type="checkbox" name="exact_date" value="true"></p>
        <br><br>
        <input type="submit" value="Submit">
    </form>

{% endblock %}
